<form action="" method="post">
  {% csrf_token %}

  <div class="form-group">
  <label for="articulo_id">Articulo</label>
  <select class="form-select" name="articulo" id="articulo_id">
  {% for articulo in articulo %}
    <option value="{{articulo.id}}">{{articulo.id}} - {{articulo.articulo}} </option>
  {% endfor %}

  </select>
  </div>

  <div class="form-group">
  <label for="unidad_id">Unidad</label>
  
  <select class="form-select" name="unidad" id="unidad_id">
  {% for unidad in unidad %}
    <option value="{{unidad.id}}"> {{unidad.id}} - {{unidad.nombreUnidad}}</option>
  {% endfor %}
  </select>
  </div>

  <div class="form-group">
  <label for="cantidad"> Cantidad</label>
  <input type="number" class="form-control" name="cantidad" id="cantidad">
  </div>

<div class="d-flex justify-content-center"> 
  <button type="submit" class="btn btn-dark">Enviar</button>
</div>
</form>
