<form action="" method="post">
  {% csrf_token %}

  <div class="form-group">
  <label for="">Articulo</label>
  <select class="form-select" name="" id="">
  {% for articulo in articulo %}
    <option value="{{articulo.id}}">{{articulo.id}} - {{articulo.articulo}} </option>
  {% endfor %}

  </select>
  </div>

  <div class="form-group">
  <label for="">Unidad</label>
  
  <select class="form-select" name="" id="">
  {% for unidad in unidad %}
    <option value="{{unidad.id}}"> {{unidad.id}} - {{unidad.nombreUnidad}}</option>
  {% endfor %}
  </select>
  </div>

  <div class="form-group">
  <label for=""> Cantidad</label>
  <input type="number" class="form-control" name="" id="">
  </div>

<div class="d-flex justify-content-center"> 
  <button type="submit" class="btn btn-dark">Enviar</button>
</div>
</form>
